* { box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
}

html {
  background-color: var(--blue);
  background-attachment: fixed;
  background-size: cover;
  background-image: url(/img/bg.jpeg);
}

em {
  color: var(--yellow);
}

code {
  background-color: #eee;
  font-size: .8em;
  padding: 0.35em 0.5em;
}

ul,
ol {
  list-style-position: outside;
  margin: 1em 0;
  padding-left: 0;
}

li {
  margin: 1em 0;
}