.combination {
  position: sticky;
  top: 0;
  background-color: white;
  text-align: center;
  padding: var(--gutter) 0 0;
  z-index: 1;

  ::placeholder {
    color: #ddd;
  }

  .characters-list {
    font-size: min(55px, 7vw);
    letter-spacing: max(-0.75vw, -8px);

    .has-failed & {
      animation: shakeX 1s;
    }
  }

  .character {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 1.2em;
    border: solid 1px currentColor;
  }
}
