.logo {
  background-image: url(/img/title-grid.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: white;
  font-family: var(--font-heading);
  text-transform: uppercase;
  text-align: center;
  font-size: 0;
  line-height: 1.2;
  margin: 0 0 35px;
  letter-spacing: -2px;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);

  .wrapper {
    display: block;
    position: relative;
    transform: scaleY(1.5);
  }

  .letter {
    position: relative;
    display: inline-block;
    font-size: 100px;
  }

  &.is-completed {
    color: var(--yellow);
    transition: color 1s;
    animation: rubberBand 1s;
  }
}