.separator {
  width: 100%;
  height: 60px;
  background-color: var(--green);
  background-position: 00% -27%;
  background-size: auto 33%;
  margin: var(--gutter) 0 0;

  .abbey-road & { background-image: url(../img/paul-mccartney.svg); }
  .let-it-be & { background-image: url(../img/george-harrison.svg); }
  .yellow-submarine & { background-image: url(../img/ringo-starr.svg); }
  .sgt-peppers-lonely-heart-club-band & { background-image: url(../img/john-lennon.svg); }
}
